language: c
matrix:
  include:
  - os: osx
    osx_image: xcode9.3beta
  - os: osx
    osx_image: xcode8.3
  - os: osx
    osx_image: xcode7.3
  - os: osx
    osx_image: xcode6.4
before_install:
- sudo mkdir /opt/local.old
- sudo mv /usr/local/* /opt/local.old && hash -r
script: ./configure && make && sudo make install && make test
before_deploy:
- sed -i "" "s/-v selfupdate/version/" portmgr/dmg/postflight
- sudo install portmgr/dmg/postflight /opt/local/
- sudo install src/*.tcl /opt/local/
- export OS_MAJOR=$(uname -r | cut -f 1 -d .)
- tar -cjf MacPorts-$OS_MAJOR.tar.bz2 /opt/local
- sed -i "" "s/OS_MAJOR/$OS_MAJOR/g" .bintray.json
- sudo mv /opt/local.old/* /usr/local && hash -r
deploy:
  edge:
    branch: v1.8.47
  provider: bintray
  file: .bintray.json
  user: l2dybot
  skip_cleanup: true
  on:
    branch: travis-ci
  key:
    secure: dWLG/p4xr4YOP1cyPqe+ANWnKm42CPp2fIWjFbWdyew84VTdetrB+P4ZfVeS7dSeasHL6B0D+aQWbrLA7bBQsNv6+2QemTxoKvj+qIdCyqk4DiG6hjjYPcnrHexjcNx5yFVROVuCXJtT/dbqGWA7GG1YRqokUse6cO20Kft2SG8qYVuWmMqALYAUdJO4p8ZMPpVudzP55K85X7yab66/ahdLo4135YWKfu5aMwNdIIzq5z0fgkWTUXre6qhM9FpJ/bmyUDBtimNK9yy8ruq4uYqG9HtRbMU31R6mTgtNWhdV3brcxWwoNRSojlnmJohC7eq2YPA4SZEuL0z5u9TDctyoIBSi9QDvtVfoHTfLv7usTZMo8Vq86DOQW9meOznJjbZdmyo9LLNH4kXGMU0lF5JBWLuqcfeL1kPhdlpkxuUo0c93K7ZGTmbrhFwLgSr/yiaGYhzGPWwGMourPQyHfTuLmP2qZOcZXYUM9L1LEuHG/M6O9o4mWWWfwX8LYsi5jeW5W0N0oEzHvEjx3Xm7Xyw+0CtXWEKM6lnQMUundwR9lzoBgMlSRpNhqTUT+LvC0AHt4PfFaKdoVVlujxSLcihEpgHzaNxgeaU18fsj8ZSGanNIC+LATL/LHGe6tLdj95jEZABwrRlxjbZS81NgDMYiRJNCgXQs7iOWNCo5hhw=
